
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e9e8e8;
    color: #1c1b1b;
    padding: 20px;
}

.main {
    width: 60%;
    margin: auto;
}


/* Form styles */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

.error{
    color: red;
}
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #c2c1c1;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #41ae41;
}


/* Error messages */
div[style*="color:red;"] {
    background-color: #f9e8e8;
    border-left: 6px solid #f63d30;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}



/* Product Grid Styles */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; 
    padding: 20px;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px); 
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 1.25em;
    margin: 10px 0;
}





.product-card p {
    font-size: 1.1em;
    margin: 10px 0;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}


/*Script for sales page*/
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}


/*Nav Bar CSS*/
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #575757;
}

nav ul li a.active {
    background-color: #575757; 
    color: white;              
    font-weight: bold;         
}