<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- Navigation Bar -->
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/" >Order</a></li> 
        <li><a href="/login" class="active">Admin Login</a></li> <!-- 'Active' class -->
        <li><a href="#">Contact Me</a></li>
    </ul>
</nav>

    <h1>Admin Login</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>